$dark: #101818;
$light: #E7EEEE;
$accent-color: #709999;
$main-font: 'Neutral';
$secondary-font: 'SF';

//Breakpoint Definitions
$screen-xl-min: 1323px;
$screen-lg-min: 1024px;
$screen-md-min: 768px;
$screen-sm-min: 576px;